<div id="comprobante">
    <div style="text-align:center">
        <img width="400" height="100" class="padding-right: 10%;padding-left: 10%;" src="~/Imagenes/amucomt.jpeg" />
    </div>
    <br />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link href="~/Content/TicketStyle.css" type="text/css" rel="stylesheet" />
    <div class="container">
        <div class="row">
            <div class="col-6">COMPRA DE PRODUCTO</div>
            <div class="col-6">@ViewBag.Datos.Codigo</div>
        </div>
        <div class="row">
            <div class="col-6">PRODUCTO: @ViewBag.Datos._TipoRubro.Descripcion</div>
            <div class="col-6">COMPRA POR @ViewBag.Datos._TipoPresentacionRubro.Descripcion</div>
        </div>
        <div class="row">
            <div class="col-6">CEDULA: @ViewBag.Datos._PersonaEntidad.NumeroDocumento</div>
            <div class="col-6">
                PROVEEDOR/CLIENTE:
                @ViewBag.Datos._PersonaEntidad.PrimerNombre
                @ViewBag.Datos._PersonaEntidad.SegundoNombre
                @ViewBag.Datos._PersonaEntidad.ApellidoPaterno
                @ViewBag.Datos._PersonaEntidad.ApellidoPaterno
            </div>
        </div>
        @if (ViewBag.Datos._Vehiculo != null)
        {
            <div class="row">
                <div class="col-12">CAMIÓN PLACA Nro: @ViewBag.Datos._Vehiculo.Placa</div>
            </div>
        }
    </div>
    <br />
    <div class="container">
        <div class="row">
            <div style="border-left: 1px solid black;border-top: 1px solid black;" class="col-6">
                @if (ViewBag.Datos.PesoBruto != null)
                {
                    <span>PESO BRUTO: @ViewBag.Datos.PesoBruto kg</span>
                }
            </div>
            <div style="border-top: 1px solid black;border-right: 1px solid black;" class="col-6">
                HUMEDAD: @ViewBag.Datos.PorcentajeHumedad %
            </div>
        </div>
        <div class="row">
            <div style="border-left: 1px solid black;" class="col-6">
                @if (ViewBag.Datos.PesoTara != null)
                {
                    <span>PESO TARA: @ViewBag.Datos.PesoTara Kg</span>
                }
            </div>
            <div style="border-right: 1px solid black;" class="col-6">
                IMPUREZA: 
                @ViewBag.Datos.PorcentajeImpureza %
            </div>
        </div>
        <div class="row">
            @if (ViewBag.Datos._Vehiculo == null)
            {
                <div style="border-left: 1px solid black;" class="col-6">
                </div>
                <div style="border-right: 1px solid black;" class="col-6">---------------</div>
            }
            else
            {
                <div style="border-left: 1px solid black;" class="col-6">
                    @if (ViewBag.Datos.PesoNeto != null)
                    {
                        <span>PESO NETO: @ViewBag.Datos.PesoNeto Kg</span>
                    }
                </div>
                <div style="border-right: 1px solid black;" class="col-6">---------------</div>
            }
        </div>
        <div class="row">
            @if (ViewBag.Datos._Vehiculo == null)
            {
                <div style="border-bottom: 1px solid black;border-left: 1px solid black;" class="col-6">
                </div>
            }
            else
            {
                <div style="border-bottom: 1px solid black;border-left: 1px solid black;" class="col-6">
                    @if (ViewBag.Datos.PesoSinImpurezas != null)
                    {
                        <span>PESO A PAGAR: @ViewBag.Datos.PesoSinImpurezas Kg</span>
                    }
                </div>
            }
            <div style="border-bottom: 1px solid black;border-right: 1px solid black;" class="col-6">
                @if (ViewBag.Datos.PesoAPagar != null)
                {
                    <span>EQUIVALENTE A: @ViewBag.Datos.PesoAPagar qq</span>
                }
            </div>
        </div>
    </div>
    <br />
    <div class="container">
        <div class="row">
            <div style="text-align:center" class="col-6">
                @if (ViewBag.Datos.PrecioPorQuintal != null)
                {
                    <span>PRECIO qq :$ @ViewBag.Datos.PrecioPorQuintal</span>
                }
            </div>
            <div style="text-align:center" class="col-6">
                @if (ViewBag.Datos.TotalAPagar != null)
                {
                    <span>TOTAL: $@ViewBag.Datos.TotalAPagar</span>
                }
            </div>
        </div>
    </div>
    <br />
    <div class="container">
        <div class="row">
            <div style="text-align:center" class="col-6">ENTRADA</div>
            <div style="text-align:center" class="col-6">SALIDA</div>
        </div>
        <div class="row">
            <div style="text-align:center" class="col-6">
                @ViewBag.Datos.FechaIngreso
            </div>
            <div style="text-align:center" class="col-6">
                @ViewBag.Datos.FechaSalida
            </div>
        </div>
    </div>
    <br />
    <div class="container">
        <div class="row">
            <div style="text-align:center" class="col-6">COMPRADOR/BALANZA</div>
            <div style="text-align:center" class="col-6">PROVEEDOR/CLIENTE</div>
        </div>
        <br />
        <div class="row">
            <div style="text-align:center;color:blue" class="col-6">
                <strong style="font-size: 150%">
                    _________________________________
                </strong>
            </div>
            <div style="text-align:center;color:blue" class="col-6">
                <strong style="font-size: 150%">
                    _________________________________
                </strong>
            </div>
        </div>
    </div>
</div>